.jumbotron{
    background-image: url("../img/shope.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.nav-item:hover{
    background-color: #bbbbbb;
}

.card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
@media(max-width: 900px) {
    .navbar{
        background-color: lightblue !important;
    }
    
}
@media(max-width: 600px) {
    .navbar{
        background-color: rgb(115, 117, 115) !important;
    }
    
}
@media(max-width: 400px) {
    .navbar{
        background-color: lightsalmon !important;
    }
    
}